* {
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.invalid {
  border-color: #E84362 !important;
  transition: all 1s;
}

.invalid input {
  border-color: #E84362;
  transition: all 1s;
}

.error_sect {
  opacity: 1 !important;
  animation: shake 0.2s 2 linear;
  margin-top: 9px;
  font-size: 0.69vw;
  font-weight: 600;
  color: #E84362;
  text-align: left;
  transition: all 1s;
}
